.slideshow-banner__media img {
    transition: transform 1s linear .5s;
    transform: scale(1.2);
}

.swiper-slide-active .slideshow-banner__media img,
.swiper-slide-duplicate-active .slideshow-banner__media img {
    transform: scale(1);
}

body .card-information__text,
body .underline-animation {
    background-position: 0 calc(1em + .6rem);
    background-image: linear-gradient(to right,rgb(var(--color-general-main-text)),rgb(var(--color-general-main-text)));
    background-size: 0% .2rem;
    background-repeat: no-repeat;
    display: inline;
    padding-bottom: .4rem;
    transition: all .15s linear;
}

/* product zoom */
@media screen and (min-width: 1200px) {
    body .card .media.media--hover-effect > img:first-child:only-child, 
    body .card .media.media--hover-effect > svg:first-child:only-child, 
    body .card-wrapper .media.media--hover-effect > img:first-child:only-child, 
    body .card-wrapper .media.media--hover-effect > svg:first-child:only-child {
      transform: scale(1);
    }
  
    body .card:hover .media.media--hover-effect > img:first-child:only-child, 
    body .card:hover .media.media--hover-effect > svg:first-child:only-child, 
    body .card-wrapper:hover .media.media--hover-effect > img:first-child:only-child, 
    body .card-wrapper:hover .media.media--hover-effect > svg:first-child:only-child {
      transform: scale(1.04);
    }
}