.header__icon--menu {
  position: initial;
}

.header--drawer .header__icon--menu {
  position: relative;
	z-index: 3;
}

.js menu-drawer > details > summary::before,
.js menu-drawer > details[open]:not(.menu-opening) > summary::before:not(.button) {
  content: '';
  position: absolute;
  cursor: default;
  width: 100%;
  height: calc(100vh - 100%);
  height: calc(
    var(--viewport-height, 100vh) - (var(--header-bottom-position, 100%))
  );
  top: 100%;
  left: 0;
  background: rgba(var(--color-general-main-text), 0.5);
  opacity: 0;
  visibility: hidden;
  z-index: 2;
  transition: opacity 0s,
    visibility 0s;
}

.menu-drawer__submenu::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
.menu-drawer__submenu {
  scrollbar-width: none;
}

menu-drawer > details[open] > summary::before {
  visibility: visible;
  opacity: 1;
  transition: opacity var(--duration-default) ease,
    visibility var(--duration-default) ease;
}

.menu-drawer {
  position: absolute;
  transform: translateX(-100%);
  visibility: hidden;
  z-index: 3;
  left: 0;
  padding: 0;
  background: rgba(0, 0, 0, .8);
  overflow-x: hidden;
  width: 100%;
  top: calc(100% + .1rem);
}

.header--drawer .menu-drawer {
	transform: translate(0, -100%);
}
.js .menu-drawer {
  height: calc(100vh - 100%);
  height: calc( var(--viewport-height, 100vh) - var(--header-bottom-position, 100%) );
  height: 100vh;
	height: 100dvh;
}

.js .menu-drawer .menu-drawer__inner-container {
  height: 100%;
	height: calc(100dvh - 11rem);
}

@supports (-webkit-touch-callout: none) {
  .js .menu-drawer .menu-drawer__inner-container {
    height: calc(100dvh - 11rem);
  }
  .js .shopify-section-header-sticky .menu-drawer .menu-drawer__inner-container {
    height: calc(100dvh - 7rem);
  }
}

.js details[open] > .menu-drawer,
.js details[open] > .menu-drawer__submenu {
  transition: transform var(--duration-default) ease,
    visibility var(--duration-default) ease;
}

.no-js details[open] > .menu-drawer,
.js details[open].menu-opening > .menu-drawer,
details[open].menu-opening > .menu-drawer__submenu {
  transform: translateX(0);
  visibility: visible;
}

@media screen and (min-width: 750px) {
  .no-js .menu-drawer {
    height: auto;
  }
}

.menu-drawer__inner-container {
  position: relative;
  height: 100%;
  width: calc(100vw - 4rem);
  max-width: 350px;
}

.menu-drawer__navigation-container {
  display: grid;
  grid-template-rows: 1fr auto auto;
  align-content: space-between;
  overflow-y: auto;
  height: 100%;
	padding-bottom: 11rem;
  overflow-x: hidden;
}

@media screen and (max-width:990px) {
	.menu-drawer__navigation-container {
		padding-bottom: 3rem;
  }
}

.menu-drawer__navigation,
.menu-drawer__submenu {
  padding: 3rem 2rem;
  position: relative;
}

.menu-drawer__inner-submenu {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.no-js .menu-drawer__navigation {
  padding: 0;
}

.no-js .menu-drawer__navigation > ul > li {
  border-bottom: .1rem solid rgba(var(--color-general-main-text), .04);
}

.no-js .menu-drawer__submenu ul > li {
  border-top: .1rem solid rgba(var(--color-general-main-text), .04);
}

.menu-drawer__menu {
  margin-top: -1.6rem;
  margin-bottom: -1rem;
}

.menu-drawer__menu-item {
  padding: 1rem 0;
  text-decoration: none;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 500;
  color: currentColor;
}

.menu-drawer__image {
  width: 100%;
  max-width: 100%;
  margin: 0 0 4rem;
  padding: 2rem 2rem 0;
}

.menu-drawer__image img {
  display: flex;
  width: 100%;
  height: auto;
}

@media screen and (min-width:990px) {
  .menu-drawer__image {
    padding: 0;
    margin: 0;
  }
}

.header__submenu-img--portrait .menu-drawer__image,
.header__submenu-img--landscape .menu-drawer__image {
  position: relative;
  height: 0;
}

.header__submenu-img--landscape .menu-drawer__image {
  padding-bottom: 76%;
}

.header__submenu-img--portrait .menu-drawer__image {
  padding-bottom: 120%;
}

.header__submenu-img--portrait .menu-drawer__image img,
.header__submenu-img--landscape .menu-drawer__image img,
.header__submenu-img--portrait .menu-drawer__image svg,
.header__submenu-img--landscape .menu-drawer__image svg {
  display: block;
  max-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center center;
  animation: fadeIn var(--duration-long);
}

.header__submenu-img--portrait .menu-drawer__image svg,
.header__submenu-img--landscape .menu-drawer__image svg {
  border: 1px solid rgb(var(--color-general-main-text));
}

@keyframes fadeIn { 
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.no-js .menu-drawer__menu-item {
  font-size: 1.6rem;
}

.no-js .menu-drawer__submenu .menu-drawer__menu-item {
  padding: 1.2rem 5.2rem 1.2rem 6rem;
}

.no-js .menu-drawer__submenu .menu-drawer__submenu .menu-drawer__menu-item {
  padding-left: 9rem;
}

.menu-drawer summary.menu-drawer__menu-item {
  padding-right: 0;
}

.menu-drawer summary.menu-drawer__menu-item:not(.header__active-menu-item) {
  font-weight: 500;
}

.no-js .menu-drawer__menu-item .icon-caret {
  right: 3rem;
}

.menu-drawer__menu-item--active,
.menu-drawer__menu-item:focus,
.menu-drawer__close-button:focus,
.menu-drawer__menu-item:hover,
.menu-drawer__close-button:hover {
  color: rgb(var(--color-hover-link));
}

.menu-drawer__menu-item--active .icon-arrow path,
.menu-drawer__menu-item:focus .icon-arrow path,
.menu-drawer__close-button:focus .icon-arrow path,
.menu-drawer__menu-item:hover .icon-arrow path,
.menu-drawer__close-button:hover .icon-arrow path {
  fill: rgb(var(--color-hover-link));
}

.js .menu-drawer__menu-item .icon-caret,
.no-js .menu-drawer .icon-arrow {
  display: none;
}

.menu-drawer__menu-item > .icon-arrow {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.menu-drawer__menu-item .icon-arrow path {
  transition: all var(--duration-default);
}

.menu-drawer__menu-item:hover > .icon-arrow path {
  fill: rgb(var(--color-hover-link));
}

.js .menu-drawer__submenu {
  position: absolute;
  top: 0;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 1;
  transform: translateX(100%);
  visibility: hidden;
}

.js .menu-drawer__submenu .menu-drawer__submenu {
  overflow-y: auto;
}

.menu-drawer__close-button {
  margin-top: 0;
  margin-bottom: .2rem;
  padding: 1.2rem 0;
  text-decoration: none;
  display: flex;
  align-items: center;
  width: 100%;
  background-color: transparent;
  font-family: var(--font-body-family);
  font-style: var(--font-body-style);
  font-size: 1.2rem;
  line-height: 1.8rem;
  font-weight: normal;
  color: currentColor;
}

.no-js .menu-drawer__close-button {
  display: none;
}

.menu-drawer__close-button .icon-arrow {
  transform: rotate(180deg);
  margin-right: 1rem;
}

.menu-drawer__utility-links {
  padding: 1.9rem 2rem;
  background-color: rgb(var(--color-general-section-bg-4));
}
.color-text-secondary .menu-drawer__utility-links {
  background-color: rgba(var(--color-general-section-bg-4), .5);
}

.menu-drawer__account {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  padding: 1rem 1.2rem;
  margin-left: -1.2rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.4rem !important;
}

.menu-drawer__account .icon-account {
  height: 1.8rem;
  width: 1.8rem;
  margin-right: 1rem;
}

.menu-drawer__account .icon-account path {
  transition: all var(--duration-default);
}

.menu-drawer__account:hover .icon-account path {
  stroke: rgb(var(--color-hover-link));
}

.menu-drawer__localization {
  margin-left: -1.2rem;
}

.menu-drawer .list-social {
  justify-content: flex-start;
  margin-left: -1.25rem;
  margin-top: 2rem;
}

.menu-drawer .list-social:empty {
  display: none;
}

.menu-drawer .list-social__link {
  padding: 1.3rem 1.25rem;
}

.menu-drawer__utility-links .list-social__link:hover {
  color: rgb(var(--color-hover-link));
}

.menu-drawer {
	background: var(--h-menu-bg, rgba(0, 0, 0, .8));
}

.header--drawer .header__icon--account {
	display: none;
}

.header--drawer .menu-drawer .menu-drawer__inner-container {
	max-width: 100%;
	width: 100%;
	height: 100%;
	overflow-y: auto;
	background: transparent;
}

.header--drawer .menu-drawer__navigation-container {
	max-width: var(--page-width);
	margin: 0 auto;
	overflow: initial;
}

.header--drawer .menu-drawer {
	top: 0;
	z-index: 0;
	padding-top: 10rem;
	padding-bottom: 3rem;
	overflow: hidden;
}


.header-wrapper:has(.header--drawer .menu-opening) {
	z-index: 1;
}

.header--drawer summary>.icon-caret {
	transition: all var(--duration-short) linear;
}

.header--drawer details[open]>summary>.icon-caret {
	transform: rotate(180deg);
}

.header-wrapper:has(.header--drawer .menu-opening) .header__icon--account {
	display: flex;
}

.header-wrapper:has(.header--drawer [open]) .header__icon path,
.header-wrapper:has(.header--drawer .menu-opening) .header__icon path,
.header-wrapper:has(.header--drawer [open]) .header__burger-line,
.header-wrapper:has(.header--drawer .menu-opening) .header__burger-line,
.header-wrapper:has(.header--drawer [open]) .header__icon--menu span,
.header-wrapper:has(.header--drawer .menu-opening) .header__icon--menu span,
.header-wrapper:has(.header--drawer [open]) .icon path,
.header-wrapper:has(.header--drawer .menu-opening) .icon path{
	color: var(--h-text-clr);
}

.header-transparent:has(.header--drawer .menu-opening) .header__heading-logo:first-of-type {
	display: none;
}

.header-transparent:has(.header--drawer .menu-opening) .header__heading-logo:nth-of-type(2) {
	display: flex;
}

.header--drawer .menu-drawer__close-button {
	display: none;
}

.header--drawer .menu-drawer__menu-item.list-menu__item {
	display: inline-flex;
	gap: 1rem;
	font-family: var(--font-heading-family);
	font-size: var(--font-heading-2-size-mb);
	line-height: 1.2;
}

.header--drawer .menu-drawer__inner-submenu {
	padding-bottom: 3rem;
}

.header--drawer .menu-drawer__submenu .menu-drawer__menu-item.list-menu__item {
	font-size: var(--font-heading-3-size-mb);
	padding-left: 1.5rem;
}

.header--drawer .menu-drawer__submenu .menu-drawer__submenu .menu-drawer__menu-item.list-menu__item {
	font-size: var(--font-heading-4-size-mb);
	padding-left: 3rem;
}

.header--drawer .menu-drawer__menu-item>.icon-caret  {
	position: static;
	transform: unset;
	max-width: 2rem;
	max-height: 2rem;
	width: 2rem;
	height: auto;
}

.header--drawer .menu-drawer__account .link {
	font-size: 2rem;
}

.header--drawer .menu-drawer__account .icon-account {
	height: 2rem;
  max-width: 2rem;
  max-height: 2rem;
  width: 2rem;
}

.header--drawer .menu-drawer .menu-drawer__submenu {
	background: transparent;
	position: static;
	padding: 0;
}

.header--drawer .icon-arrow {
	display: none;
}

.header-wrapper .header--drawer .menu-drawer .menu-drawer__submenu {
  transform: unset;
}

.header--drawer .menu-drawer .icon-caret {
	display: block;
}

.header-wrapper:has(.header--drawer .menu-opening).sticky .header__icon:hover .icon path,
.header-wrapper:has(.header--drawer .menu-opening) .menu-drawer__account:hover .icon-account path {
	stroke: var(--h-text-clr-hover);
}

.header-wrapper:has(.header--drawer .menu-opening) .menu-drawer__menu-item:hover>.icon-arrow path {
	fill: var(--h-text-clr-hover);
}

.header-wrapper:has(.header--drawer .menu-opening) .header__icon:hover *,
.header-wrapper:has(.header--drawer .menu-opening) .header__icon:hover path,
.header-wrapper:has(.header--drawer .menu-opening) .link--text:hover,
.header-wrapper:has(.header--drawer .menu-opening) .link--text:hover .link,
.header-wrapper:has(.header--drawer .menu-opening) .header__icon--menu:hover *,
.header-wrapper:has(.header--drawer .menu-opening) .link:hover .icon path,
.header-wrapper:has(.header--drawer .menu-opening) .menu-drawer__menu-item:hover .icon path,
.header--drawer .color-text-main-mob *:not(button):hover {
	color: var(--h-text-clr-hover);
}

@media screen and (min-width: 750px) {
	.menu-drawer__utility-links,
	.header--drawer .menu-drawer__navigation, 
	.header--drawer .menu-drawer__submenu {
		padding-left: 5rem;
		padding-right: 5rem;
	}

	.header--drawer .menu-drawer__menu-item.list-menu__item {
		font-size: var(--font-heading-1-size-mb);
	}

	.header--drawer .menu-drawer__submenu .menu-drawer__menu-item.list-menu__item {
		font-size: var(--font-heading-3-size);
	}

	.header--drawer .menu-drawer__submenu .menu-drawer__submenu .menu-drawer__menu-item.list-menu__item {
		font-size: var(--font-heading-4-size);
	}
}
@media screen and (min-width: 1200px) {
	.header--drawer .menu-drawer__menu-item.list-menu__item {
		font-size: var(--font-heading-1-size);
	}

	.header--drawer .menu-drawer {
		padding-top: 17rem;
	}
}

.section-header:has( .header--drawer .menu-opening) ~ .section-announcement-bar {
	display: none;
}

.header--drawer .menu-drawer__utility-links,
.header--drawer .menu-drawer__menu-item {
	opacity: 0;
	transform: translate(0, 4rem);
	transition: opacity .35s ease-in, transform .35s ease-in;
}

.header--drawer [open].menu-opening>.menu-drawer .menu-drawer__utility-links,
.js .header--drawer [open].menu-opening>.menu-drawer .menu-drawer__menu-item {
	opacity: 1;
	transform: translate(0, 0);
}

.header--drawer .menu-drawer__utility-links {
	transition-delay: 1s;
}

.header__burger {
	position: relative;
}

.header__icon:hover:not(:has(.underline-on-hover)),
.header__icon .link:hover:not(.underline-on-hover),
.header__icon:hover > span:not(.underline-on-hover) {
	text-decoration: none;
}

.header__burger .header__burger-line {
	display: block;
	border-top: 1px solid currentColor;
	border-bottom: 1px solid currentColor;
	transition: transform .75s cubic-bezier(.19,1,.22,1);
  width: 2.2rem;
}

.header__burger-line:first-child {
	margin-bottom: 0.4rem;
}

.header__burger-line:last-child {
	margin-top: 0.4rem;
}

.header--drawer [open].menu-opening .header__burger-line:first-child {
	transform: translateY(0.4rem) rotate(45deg);
}

.header--drawer [open].menu-opening .header__burger-line:last-child {
	transform: translateY(-0.2rem) rotate(-45deg);
}