.rte:after {
  clear: both;
  content: '';
  display: block;
}

.rte > p:first-child {
  margin-top: 0;
}

.rte > p:last-child {
  margin-bottom: 0;
}

.rte h3 {
  line-height: 1.4;
}

.rte table {
  table-layout: fixed;
}

@media screen and (min-width: 750px) {
  .rte table td {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
  }
}

.rte img {
  display: block;
  height: auto;
  max-width: 100%;
  margin-right: 3rem;
}

.rte div[style*="text-align: center;"] img {
  margin-left: auto;
  margin-right: auto;
}

.rte div[style*="text-align: right;"] img {
  margin-left: auto;
  margin-right: 0;
}

.rte img[style*="float: right;"] {
  margin-left: 3rem;
  margin-right: 0;
}

.rte ul,
.rte ol {
  padding-left: 4rem;
}

.rte li {
  list-style: inherit;
}

.rte li:last-child {
  margin-bottom: 0;
}

.rte a {
  color: inherit;
  text-underline-offset: 0.3rem;
  text-decoration-thickness: 0.1rem;
  transition: all .3s ease;
}
.rte.color-general-heading a,
.rte.color-general-heading a:hover {
  color: rgb(var(--color-general-heading));
}

.rte.color-text-secondary a:hover {
	color: rgb(var(--color-general-secondary-text));
}

.rte a:hover {
  /* color: rgb(var(--color-hover-link)); */
  text-decoration-thickness: 0.2rem;
}

.rte a strong {
  color: inherit;
}

.rte blockquote {
  display: block;
  margin-right: 0;
  margin-left: 2rem;
  width: calc(100% - 2rem);
}

@media screen and (min-width:750px) {
  .rte blockquote {
    margin-left: 4rem;
    margin-right: 4rem;
    width: calc(100% - 8rem);
  }
}

.rte blockquote > * {
  margin: -0.5rem 0 -0.5rem 0;
}
.rte blockquote > h3 {
  margin:0 0 3rem;
}

.rte iframe {
  display: block;
  max-width: 100%;
}
