.articles-wrapper.grid {
  margin: 0 0 5rem 0;
}

@media screen and (min-width: 750px) {
  .articles-wrapper.grid {
    margin-bottom: 7rem;
  }

	.ab-article-card .rte-width.article-card__excerpt.large {
		font-size: calc(var(--font-body-size) + .2rem);
	}
}

.articles-wrapper .article {
  max-width: 100%;
}

@media screen and (max-width: 749px) {
  .articles-wrapper .article {
    width: 100%;
  }
}

.article {
  display: flex;
  align-items: center;
}

.article.grid__item {
  padding: 0;
}

.grid--peek .article-card {
  box-sizing: border-box;
}

.article-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: inherit;
}

.article-card__image {
  overflow: hidden;
}

.article-content img {
  transition: transform var(--duration-long) ease;
}

.article-content:hover img {
  transform: scale(1.07);
}

.article-card__image-wrapper > a {
  display: block;
}

.article-card__title {
  word-break: break-word;
}

.article-card__link.link {
  padding: 0;
}

.article-card__link {
  text-underline-offset: 0.3rem;
}

.article-content:hover .article-card__link {
  text-decoration-thickness: 0.2rem;
}

.article-card__header {
  line-height: 0.8;
  margin-bottom: 1.2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.article-card__header .article-card__title{
  margin: 0 0 0.2rem;
}

.article-card__header .article-card__title:only-child {
  margin: 0;
}

.article-card__header .article-card__title:not(:first-child) {
  margin-top: 1rem;
}

.article-card__header .article-card__title ~ span {
  display: inline-block;
  margin-top: 1.5rem;
}

.article-card__header:hover span {
	color: rgb(var(--color-hover-link));
}

.article-card__header:hover span path,
.article-card__header:hover span svg {
	color: currentColor;
}

.article-card__header .article-card__title ~ span.order-1 {
  margin-top: 0;
}

.article-card__header span {
	flex-basis: 50%;
}

.article-card__header .article-card__title span {
	flex-basis: unset;
}

.article-card__header span + span {
  text-align: right;
}

.article-card__header .article-card__title.order-2 {
  margin-top: 2rem;
}

/* .article-card__footer:last-child {
  margin-top: auto;
} */

.article-card__link:not(:only-child) {
  margin-right: 3rem;
}

@media screen and (min-width: 990px) {
  .article-card__link:not(:only-child) {
    margin-right: 4rem;
  }

	.ab-article-card .link.mt-4,
	.ab-article-card .mt-4 {
		margin-top: 4rem;
	}
}

/* ab style  */

.ab-blog .featured-blog-slider {
  margin-bottom: 0;
}

@media screen and (min-width: 750px) {
  .ab-blog .featured-blog-slider {
    margin-bottom: -3rem;
  }
	.swiper-initialized.featured-blog-slider  {
		margin-bottom: 0;
	}
}
@media screen and (min-width: 750px) and (min-width: 1024px) {
  .ab-blog .featured-blog-slider.swiper-initialized {
    margin-bottom: 0;
  }
}

.ab-blog .blog__posts .article + .article {
  margin-left: 0;
}

.ab-blog .blog__posts--4-items.more .blog__post {
  margin-bottom: 3rem;
}

@media screen and (min-width: 990px) {
  .ab-blog .blog__posts {
    display: flex;
    flex-wrap: wrap;
  }

  .ab-blog .swiper-initialized .blog__posts {
    flex-wrap: nowrap;
  }

  .ab-blog .blog__posts .article + .article {
    margin-left: 3rem;
  }

  .ab-blog .without-gaps.featured-blog-slider .article {
    margin-left: 0;
  }

  .ab-blog .swiper-initialized .blog__posts .article {
    margin-left: 0;
  }

  .ab-blog .blog__posts--2-items .blog__post {
    width: calc(50% - 1.5rem);
  }

	.without-gaps.featured-blog-slider .blog__posts--2-items .blog__post {
		width: 50%;
  }

  .ab-blog .blog__posts--3-items .blog__post {
    width: calc(33.33% - 2rem);
  }

	.without-gaps.featured-blog-slider .blog__posts--3-items .blog__post {
		width: 33.33%;
  }

  .ab-blog .blog__posts--4-items .blog__post {
    width: calc(25% - 9rem / 4);
  }

	.without-gaps.featured-blog-slider .blog__posts--4-items .blog__post {
    width: 25%;
  }

  .ab-blog .blog__posts--4-items .blog__post.article:nth-child(4n + 1) {
    margin-left: 0;
  }
}

.ab-article-card {
  position: relative;
  background-color: transparent;
  align-self: flex-start;
  display: flex;
  align-items: flex-start;
  height: 100%;
  width: 100%;
}

.ab-blog .article-card__footer {
  margin-top: 2rem;
  letter-spacing: 0.1rem;
  font-size: 1.4rem;
  color: rgba(var(--color-general-main-text),.75);
}

.ab-blog .title-wrapper-with-link {
  margin-bottom: 4rem;
  margin-top: 0;
}

.search-items .article-card__header,
.ab-blog .article-card__header {
  margin-bottom: 0;
}

.ab-blog .title-wrapper-with-link .link {
  margin-top: 1rem;
}

.ab-blog .title-wrapper-with-link.right .link {
  width: auto;
}

.ab-article-card .article-card__title {
  width: 100%;
  line-height: 1.4;
  font-weight: 500;
  font-family: var(--font-body-family);
  color: rgb(var(--color-general-main-text));
}

.ab-article-card .article-card__title.heading-font {
  font-family: var(--font-heading-family);
}

@media screen and (min-width: 750px) {

	.ab-article-card .article-card__title.large .link-icon svg {
		translate: 0 -0.3rem;
	}
}

.ab-article-card .article-card__info {
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
}

.without-gaps.featured-blog-slider .ab-article-card .article-card__info {
	padding-right: 1.5rem;
}

@media screen and (min-width: 1200px) {
  .style-2.ab-article-card .article-card__info {
    padding-bottom: 1.5rem;
  }
}

.style-2 .card__badge span {
  border-radius: 50px;
  margin-right: 0;
}

.style-3 .card__badge span {
  border-radius: 50px;
  font-weight: 700;
  font-size: 1.2rem;
}

.style-3.ab-article-card .article-card__title {
  font-weight: 400;
  color: rgb(var(--color-general-heading));;
}

.style-3 .caption-with-letter-spacing {
  font-size: 1.4rem;
  text-transform: none;
  font-weight: 400;
}

.style-3 .circle-divider::after {
  content: '';
  margin: 0 0.3rem 0 0.5rem;
}

@media screen and (min-width: 750px) {
  .style-3.ab-article-card .article-card__info{
    padding: 3rem 0 3rem;
  }
  .style-3 .article-card__footer{
    padding-top: 1rem;
  }
}

.style-3.ab-article-card .article-card__title.heading-font{
  font-weight: 400;
  color: rgb(var(--color-general-heading));
}

.style-3.ab-article-card .article-card__title {
  font-weight: 400;
  color: rgb(var(--color-general-heading));;
}

.style-3.ab-article-card.small {
  font-size: 1.6rem;
}

.ab-article-card .rte-width {
	margin-top: 2rem;
  margin-bottom: 0;
  width: 100%;
  max-width: none;
}

.ab-article-card .mt-1 {
	margin-top: 1rem;
}

.ab-article-card .rte-width.article-card__excerpt.small {
  font-size: calc(var(--font-body-size) - .2rem);
}

.article-card__excerp {
  word-break: break-word;
}

.ab-article-card .article_link {
  position: relative;
  cursor: pointer;
  transition: color .3s ease;
  width: fit-content;
  line-height: 1.5;
  margin-top: 2rem;
}

.ab-article-card .underlined-link {
	padding-bottom: 0;
}

.ab-blog .title-wrapper-with-link .link.weight-bold {
  font-weight: 700;
}

.ab-article-card .article_link.weight-semi-bold {
  font-weight: 600;
}

.ab-article-card .article_link.weight-medium {
  font-weight: 500;
}

@media screen and (max-width: 749px) {
  .ab-blog .title-wrapper-with-link {
		justify-content: space-between;
  }
}


.ab-blog .swiper-horizontal>.swiper-pagination-bullets, 
.ab-blog .swiper-pagination-bullets.swiper-pagination-horizontal, 
.ab-blog .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 0;
}


.ab-blog .swiper-pagination .swiper-pagination-bullet {
  cursor: pointer;
  background-color: rgb(var(--color-icon-social));
  opacity: 1;
}


.ab-blog .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, 
.ab-blog .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 .5rem;
}


.ab-blog .swiper-pagination-bullet.swiper-pagination-bullet-active {
	background-color: rgba(var(--color-hover-btn-bg));
}

.ab-blog .gradient--hover .swiper-pagination-bullet.swiper-pagination-bullet-active {
	background: var(--color-hover-btn-bg-gradient);
}

@media screen and (min-width:1025px) {
  .ab-blog .swiper-pagination {
    display: none;
  }

	.ab-article-card .article-card__excerpt {
		max-width: var(--description-width, 100%);
		margin-left: 0;
	}
}

.spaced-section--full-width:last-child .ab-blog {
  margin-bottom: 14rem;
}

@media screen and (max-width: 1200px) {
  .spaced-section--full-width:last-child .ab-blog {
    margin-bottom: 12rem;
  }
}

@media screen and (max-width: 749px) {
  .spaced-section--full-width:last-child .ab-blog {
    margin-bottom: 7rem;
  }
}

.image-icon .ab-article-card .article-card__title .link-icon {
	padding: 0;
	display: inline-block;
	vertical-align: middle;
}

.image-icon .ab-article-card .article-card__title .link-icon svg {
	transition: all .3s ease;
	width: 0;
	opacity: 0;
}

.image-icon .article-content:hover .article-card__title svg {
  width: auto;
	opacity: 1;
}

.image-icon .article-content:hover .article-card__title .link-icon {
	margin-left: .6rem;
}

.image-icon .article-content .article-card__image {
	transition: all .3s ease;
}

.image-icon .article-content:hover .article-card__image {
	border-radius: 30rem;
	transition: all .3s ease;
}

.image-icon .article-content:hover .article-card__title {
	color: rgb(var(--color-hover-link));
}

/* 2 col */
@media screen and (max-width: 989px) {
	.blog__posts.grid--2-col:not(.swiper-wrapper) {
		display: flex;
		flex-wrap: wrap;
	}

	.ab-blog .blog__posts--4-items.more .swiper-slide.blog__post {
		margin-bottom: 0;
	}
}

.article-card__excerpt, 
.article-card .article-card__title {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}


.article-card__image {
	border-radius: var(--b-img-radius, 0);
}

.article-card__excerpt p:last-child {
	margin-bottom: 0;
}

.article-card__excerpt p:first-child {
	margin-top: 0;
}