.button.product__xr-button {
  background: rgba(var(--color-general-main-text), 0.08);
  color: rgb(var(--color-general-main-text));
  margin: 1rem auto;
  box-shadow: none;
}

.button.product__xr-button:hover {
  box-shadow: none;
}

.product__xr-button[data-shopify-xr-hidden] {
  visibility: hidden;
  height: 0;
  margin: 0;
  padding: 0;
  width: 0;
  min-height: 0;
  min-width: 0;
  overflow: hidden;
}

@media screen and (max-width: 749px) {
  /* slider-component .product__xr-button:not([data-shopify-xr-hidden]) {
    display: none;
  } */

  .active .product__xr-button:not([data-shopify-xr-hidden]) {
    display: block;
  }
}

@media screen and (min-width: 750px) {
  slider-component + .button.product__xr-button {
    display: none;
  }

  .product__xr-button[data-shopify-xr-hidden] {
    display: none;
  }
}

.product__xr-button .icon {
  width: 1.4rem;
  margin-right: 1rem;
}

.swiper-slide-active .shopify-model-viewer-ui model-viewer.shopify-model-viewer-ui__disabled {
	pointer-events: all;
}