.password-main {
    margin-top: auto;
    margin-bottom: auto;
}

.newsletter-password__heading {
    margin: 4rem auto;
}

.newsletter-password__subheading {
    margin-bottom: 4.5rem;
}

.newsletter-password__subheading p,
.newsletter-password__top-text {
    font-size: var(--font-body-size);
    line-height: 1.37;
    font-weight: 300;
}
@media screen and (max-width: 749px) {
    .password-header {
        height: 4.4rem;
    }
}
.newsletter-password__form-wrp {
    max-width: 54rem;
    margin: 4.5rem auto 0;
    padding: 2rem 3rem;
    border: .1rem solid rgba(var(--color-general-main-text),.25);
}

.left .newsletter-password__form-wrp {
    margin-left: 0;
}

.right .newsletter-password__form-wrp {
    margin-right: 0;
}

.newsletter-password__form-wrp .field-email,
.password-form .password-field {
    margin: 2rem 0 4rem;
    flex-wrap: wrap;
}

.newsletter-password__form-wrp input {
    border-bottom: .1rem solid rgba(var(--color-general-main-text),.25);
    box-shadow: unset;
    padding: 1.4rem 0 1rem;
    height: auto;
}

.newsletter-password__form-wrp input:focus ~ .field__label,
.newsletter-password__form-wrp input:not(:placeholder-shown) ~ .field__label,
.newsletter-password__form-wrp input:-webkit-autofill ~ .field__label {
    top: -.2rem;
}

.newsletter-password__form-wrp .field__label {
	left: 0;
}

.newsletter-password__form-wrp button.button {
    width: 100%;
}

.newsletter-password__form-wrp .field-enter-store {
    margin-top: 3rem;
}

.newsletter-password .list-social {
    margin-top: 1.8rem;
}

.newsletter-password .list-social__link .icon {
    color: rgb(var(--color-general-heading));
}

.newsletter-password .list-social__link:hover .icon {
    color: rgb(var(--color-hover-link));
}

.newsletter-password__small-text {
    font-size: 1.2rem;
    line-height: 1.5;
    font-weight: 300;
    display: block;
    margin-top: 1rem;
}

password-modal {
    width: 100%;
}

.modal__content {
    position: fixed;
}

.password-link {
    align-items: center;
    width: 100%;
}
  
.password-link svg {
    width: 1.8rem;
    height: 1.8rem;
    margin-right: 1rem;
}

.password-modal__content .password__footer-text {
    display: block;
    margin-top: 4rem;
}

@media screen and (min-width:750px) {
    .newsletter-password__subheading p,
    .newsletter-password__top-text {
        font-size: 1.6rem;
    }

    .newsletter-password__form-wrp {
        padding: 3rem 5rem 5rem;
    }
}