.scrolling-text-popup {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.scrolling-text {
    display: flex;
    align-items: center;
		justify-content: center;
    white-space: nowrap;
    overflow: hidden;
		line-height: 1.2;
}

.scrolling-text-popup > a {
  margin-top: 4rem;
}

.scrolling-text > div {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-shrink: 0;
	/* min-width: 100%; */
}

.scrolling-item {
	padding: 0 1.5rem;
}

.scrolling-item.rte a {
	color: inherit;
}


.scrolling-text-modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	outline: 0!important;
	-webkit-backface-visibility: hidden;
	z-index: 999;
	box-sizing: border-box;
	overflow-y: scroll;
	justify-content: center;
	align-items: center;
}

.scrolling-text-modal.thank-you-message .scrolling-text-modal-title,
.scrolling-text-modal.thank-you-message .scrolling-text-modal-description,
.scrolling-text-modal.thank-you-message .form-wrapp {
    display: none;
}

.scrolling-text-modal.thank-you-message .scrolling-text-modal-content {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.scrolling-text-modal.thank-you-message .scrolling-text-modal-title.success {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.scrolling-text-modal-title.success {
	justify-content: center;
	gap: .5rem;
}

.scrolling-text-modal-title.success .icon {
    max-width: 10rem; 
		margin-bottom: 3rem;
}

.scrolling-text-modal-close {
    position: absolute;
    top: 12.5rem;
    left: auto;
    right: 1rem;
    width: 4rem;
    height: 4rem;
    border: .2rem solid #4A4640;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F9F5F0;
    cursor: pointer;
}

.scrolling-text-modal-close::before,
.scrolling-text-modal-close::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    display: inline-block;
    width: 2.7rem;
    height: .15rem;
    background-color: #4A4640;
}

.scrolling-text-modal-close::before {
    transform: translateX(-50%) rotate(45deg);
}

.scrolling-text-modal-close::after {
    transform: translateX(-50%) rotate(-45deg);
}

.scrolling-text-modal-container {
    padding: 3rem;
    width: 100%;
    max-width: 60rem;
    box-sizing: border-box;
    margin: auto;
}

.scrolling-text-modal-content {
    position: relative;
    width: 100%;
    padding: 12.5rem 9.5rem;
    border-radius: 30rem;
    background-color: #F9F5F0;
    box-shadow: 0 .4rem .8rem 0 rgba(0,0,0,0.2),0 .6rem 2rem 0 rgba(0,0,0,0.19);
}

.scrolling-text-modal-title {
    font-weight: 600;
    text-align: center;
    margin-bottom: 1rem;
    line-height: 1.15;
}

.scrolling-text-modal-description {
    text-align: center;
    margin-bottom: 4rem;
}

.scrolling-text-modal .field:not(:first-of-type) {
    margin-top: 2.5rem;
}

.scrolling-text-modal .field.field-submit {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.scrolling-text-modal .field__input {
    border: none;
    box-shadow: none;
    border-bottom: .15rem solid #4A4640;
    padding-left: 0;
}

.scrolling-text-modal .field__label {
    left: 0;
}

.scrolling-text-popup .newsletter-form__message {
    position: relative;
}

.scrolling-text-form {
    width: 100%;
}

.scrolling-text-form .newsletter-form__message {
    display: flex;
    justify-content: center;
    bottom: auto;
}

@media screen and (max-width: 749px) {
	.scrolling-text-modal-container {
			max-width: 55rem;
	}

	.scrolling-item img,
	.scrolling-item svg {
		max-height: 4.2rem;
		max-width: 4.2rem;
	}
}

@media screen and (max-width: 549px) {
    .scrolling-text-modal-content {
        padding: 7.5rem 3.5rem;
    }

    .scrolling-text-modal-close {
        top: 4.5rem;
    }

    .scrolling-text-modal-description {
        margin-bottom: 2rem;
    }
}

.scrolling-item img,
.scrolling-item svg {
	max-width: 5rem;
  height: auto;
}

.scrolling-item.icon {
	display: flex;
	align-items: center;
	justify-content: center;
}

.scrolling-item .placeholder-svg {
  width: auto;
}