/* Base */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: var(--font-body-family);
  font-style: var(--font-body-style);
  font-weight: var(--font-body-weight);
  overflow-x: hidden;
}

.page-width {
  max-width: var(--page-width);
  margin: 0 auto;
  padding: 0 2rem;
}

@media screen and (min-width: 750px) {
  body {
    font-size: 1.6rem;
    line-height: 1.8;
  }

  .page-width {
    padding: 0 5rem;
  }
}

/* Password Section */
.password-header {
  padding: 3rem;
}

footer {
  padding-bottom: 4.5rem;
}

.password-logo {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
}

.password-logo--svg svg {
  height: auto;
}

.password .align-left {
  justify-content: flex-start;
  text-align: left;
}

.password .align-center {
  justify-content: center;
  text-align: center;
}

.password .align-right {
  justify-content: flex-end;
  text-align: right;
}

@media screen and (min-width: 1200px) {
  .password-header {
    padding-top: 3rem;
  }
  
  footer {
    padding-bottom: 6rem;
  }
}

.password__bg {
  position: fixed;
  z-index: -1;
}

.password__bg svg,
.password__bg img {
  display: block;
  width: 100%;
  height: auto;
}

.password__bg-main {
  top: 0;
  right: 0;
  max-width: 36.6rem;
}

.password__bg-mirror {
  left: 0;
  bottom: 0;
  transform: rotate(180deg);
  max-width: 24.4rem;
}


.password__footer-text a {
  padding: 0;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.5;
}

.password__footer-login {
  margin-top: 1.2rem;
  padding-bottom: 4rem;
}

.password-modal .icon-close {
  color: rgb(var(--color-general-main-text));
}

.password__footer {
  padding-top: 4rem;
  color: rgb(var(--color-general-main-text));
}

.password__footer-caption.password__footer-text {
  display: flex;
}

.align-center .password__footer-caption.password__footer-text {
  justify-content: center;
}

.align-right .password__footer-caption.password__footer-text {
  justify-content: flex-end;
}

.password__footer-item:not(:last-child) {
  margin-bottom: .4rem;
}

hr {
  margin: 0 !important;
}

.list-social:not(:empty) + .password__footer-caption {
  margin-top: 3rem;
}

.password__footer-caption a {
  padding: 0 0 0 .5rem;
  color: rgb(var(--color-link));
}

.shopify-name {
  overflow: hidden;
  position: absolute;
  height: .1rem;
  width: .1rem;
}

.icon-shopify {
  width: 7rem;
  height: 2rem;
  vertical-align: top;
  color: rgb(var(--color-general-main-text));
}